@import url('node_modules/bootstrap/dist/css/bootstrap.min.css');
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.projects {
  border: 1px solid #ff0062;
}

.projects header {
  background: #a1307c;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h4,
h4 {
  font-size: 1rem;
}

.projects h2 {
  margin: 0;
  color: white;
}

.projects ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
}
#dataRow {
  flex-wrap: nowrap;
  margin-top: 10px;
}

.project li p {
  margin: 0;
}

.droppable {
  background: #ffe3ee;
}

#finished-projects .droppable {
  background: #d6e1ff;
}

#user-input {
  margin: 1rem;
  background: #f7f7f7;
  width: 200px;
  height: 200px;
}
